{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
    <title>Справочник маршрутов</title>
</head>
<body>
<h1> Справочник маршрутов </h1>

<table border="1">
        <tr>
            <th>Номер и ссылка на маршрут</th>
        </tr>
        {% for row in data %}
            <tr>
                <td><a href="{{ row.1 }}" target="_blank">{{ row.0 }}</a></td>

            </tr>
        {% endfor %}
    </table>
</body>
</html>