{% extends 'main/forms.html' %}
{% block title %}Пройти шаги{% endblock %}
{% block title2 %}Пройди шаги:{% endblock %}
{% block form %}
<form method="post">
    {% csrf_token %}
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
        <span>{{ error }}</span>
            <button type="submit">Добавить отчет</button>
</form>
{% endblock %}