<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            background-image: url("https://klike.net/uploads/posts/2022-08/1661597608_j.jpg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        h1{
        text-align: center;
        vertical-align: top;
        }
        #child{
        line-height: 600px;
        }
    </style>
    <title>Успех</title>
</head>
<body>
<div id="parent">
    <div id="child"><h1>Успешно добавлен!!!</h1></div>
</div>

</body>
</html>