{% extends 'main/forms.html' %}
{% block title %}Создать задание{% endblock %}
{% block title2 %}Создать задание{% endblock %}
{% block form %}
<form method="post">
    <h6>* Посмотрите в отчете последний номер задачи и поставьте следующий номер</h6>
    <h6>* Поставьте текущюю дату и время, введите свой телефон в формате 89999999999</h6>
    <h6>* Скопируйте из справочника водителей номер водителя </h6>
    <h6>* Скопируйте из справочника маршрутов номер назначаемого маршрута</h6>
    <button class="btn btn-sm btn-primary w-100 ml-2" onclick="window.open('{% url 'logout' %}?next=/profile/task/select_url_route', '_blank')">Справочник маршрутов</button>
    <button class="btn btn-sm btn-primary w-100 ml-2" onclick="window.open('{% url 'logout' %}?next=/profile/task/select_catalog_driver', '_blank')">Справочник водителей</button><br>
    <button class="btn btn-sm btn-primary w-100 ml-2" onclick="window.open('{% url 'logout' %}?next=/profile/task/select_report', '_blank')">Последние 10 заданий</button>
    {% csrf_token %}
    {% for field in form3 %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} <br>
        {{ field }}<br><br>
    </div>
    {% endfor %}
    <span>{{ error }}</span>
    <button type="submit">Добавить задание</button>
</form>
{% endblock %}



