body{
    background-color:#B3E5FC;
}

aside.left{
    border-radius: 10px;
    float: left;
    background: #76b852;
    width: 32%;
    height: 100vh;
    border-right: 5px solid green;
}


.panel{float: right;
}
.card.p-3{
  width: 600px;
  border: 4mm ridge rgba(211, 220, 50, .6);
  border-radius: 10px;
  background-color: green;

}

h4{
    text-align: center;
    color: white;
    font-size: 5px;
}

.d-flex.flex-column{
    background-color: green

}

.role{
  font-size:20px;
  color: white;
  text-align: center
}

.btn.btn-sm.btn-primary{
    font-size:20px;
    height: 40px;
    width: 50%;
}

aside.left ul{
    list-style: none;
    }

aside.left ul li{
    margin-top: 15px;

}

.buttonmane{
    background: #00b3f3;
}



main {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Разделение на две равные части */
}

.routing {
  background-color: lightblue; /* Цвет фона первой части */
  height: 640px;
}

.ymap {
  background-color: lightgreen; /* Цвет фона второй части */
}
