<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Форма для добавления записи в базу данных</title>
    <style type="text/css">
   div.block {
    max-width: 400px;
    min-height: 300px;
    margin: 30px auto;
    padding: 20px 20px 20px 20px;
    background-color: #76b852;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #76b852;
   }
    div.block .form{
        }
    input {
    width: 70%;
    padding: 8px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    }
    h1{text-align: center }
   </style>
</head>
<body>
    <h1>Форма для добавления записи в базу данных</h1>
    <div class = "block">
        <form method="post" enctype= multipart/form-data>
        {% csrf_token %}
        <label for="task_number">Номер задачи:</label><br>
        {{ form.task_number }}<br><br>
        <label for="date_and_time_task">Дата и время задачи:</label><br>
        {{ form.date_and_time_task }}<br><br>
        <label for="phone_manager">Телефон менеджера в формате: 89999999999:</label><br>
        {{ form.phone_manager }}<br><br>
        <label for="phone_driver">Телефон водителя в формате: 89999999999:</label><br>
        {{ form.phone_driver }}<br><br>
        <label for="date_and_time_route_from">Дата и время начала маршрута:</label><br>
        {{ form.date_and_time_route_from }}<br><br>
         <label for="date_and_time_route_to">Дата и время конца маршрута:</label><br>
        {{ form.date_and_time_route_to }}<br><br>
        <label for="odometr_from">Одометр на начало маршрута:</label><br>
        {{ form.odometr_from }}<br><br>
        <label for="odometr_to">Одометр на конец маршрута:</label><br>
        {{ form.odometr_to }}<br><br>
        <label for="date_check">Дата оплаты чека:</label><br>
        {{ form.date_check }}<br><br>
        <label for="sum_check">Сумма чека за бензин:</label><br>
        {{ form.sum_check }}<br><br>
        <label for="image_check">Добавь фото чека за бензин:</label><br>
        {{ form.image_check }}<br><br>
        <label for="number_route">Номер маршрута:</label><br>
        {{ form.number_route }}<br><br>
        <label for="result_route">Результат прохождения маршрута(Пройден или Не пройден):</label><br>
        {{ form.result_route }}<br><br>
        <span>{{ error }}</span>
        <button type="submit">Добавить отчет</button>
    </form>
    </div>
</body>
</html>