{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<title>ГУП Нерезиновая</title>
</head>

<style>
   body {
    background-image: url("https://sun9-1.userapi.com/impf/NiBG3jElTgtTzkFCjHWtGlvp3tZEIy1w8bOwAQ/INgvfPlwTcM.jpg?size=1818x606&quality=95&crop=73,0,1425,475&sign=8b244f00ad164e2d856f07767bbbee86&type=cover_group");
     background-size: 100% 100%;
     background-repeat: no-repeat;
   }
    button{
    background: blue
    }

   .btn.btn-sm.btn-primary{
    font-size:20px;
    height: 40px;
    width: 30%;
}
  </style>
<!--Создаём таблицу контейнер, которой задаём следующее
оформление:
border="1" - рамка вокруг контейнера. Увеличив число, можно увеличить толщину рамки.
align="center" - размещаем контейнер по центру экрана.
rules="rows" - убираем двойную рамку.
style="width:60%;" - добавляем стилевое свойства, делающее
контейнер и весь сайт "резиновым".
Сделать полноценный адаптивный дизайн, этим способом невозможно.-->

<table
border="1"
align="center"
rules="rows"
style="width:60%;"
>
<!--Создаём строку-->
<tr>
<!--Создаём ячейку строки-->
<td>

<!--ШАПКА САЙТА-->

<!--В ячейке строки создаём ещё одну таблицу для шапки сайта.
Оформление:
border="1" - двойная рамка толщиной в 1px
background="images/168.png" - картинка в шапке сайта, если требуется.
Адрес картинки вы должны вставить свой.
bgcolor="#7FFFD4" - фоновый цвет в шапке, если нет картинки.
cellpadding="10" - отступ содержимого от рамки не менее 10px.
style="width:100%; border-radius:5px;" - добавляем "резиновость"
и закругляем уголки рамки-->
<table


cellpadding="10"
style="width:100%; border-radius:5px;">
<!--Создаём строку таблицы-->
<tr>
<!--Создаём столбец таблицы-->
<th>
<!--Содержание ячейки столбца-->
<h1>ГУП "Нерезиновая"</h1>
<h3>Сайт разработан для сотрудников компании</h3>
    <button class="btn btn-sm btn-primary w-100 ml-2" onclick="location.href='{% url 'logout' %}?next=/profile'">Начать работу</button>
<!--Закрываем таблицу-->
</th>
</tr>
</table>

<!--ОСНОВНОЙ КОНТЕНТ-->

<!--В этой же ячейке контейнера создаём ещё одну таблицу
для основного контента.
Оформление как и в предыдущей таблице-->

<table
border="1"
bgcolor="#76b852"
cellpadding="10"
style="width:100%; border-radius:5px;"

<!--Создаём строку-->
<tr>
<!--Создаём ячейку
Оформление:
rowspan="2" - объединяем две ячейки в одну.
Число объединяемых ячеек по числу ячеек в сайдбаре.
style="width:80%" - основной контент занимает 80% всей площади,
оставшиеся 20% для сайдбара-->
<td
rowspan="2"
align="center"
style="width:80%"
>

<h2>ВЫВОЗ МУСОРА</h2>
<!--Начинаем абзац с красной строки-->
<p style="text-indent:20px">
Если вы хотите видеть чистый мир вокруг себя, то стоит обратиться в нашу компанию. Мы предоставляем свои услуги по вывозу и утилизации мусора, уборке и вывозу снега, ликвидации свалок и так далее.

В этой сфере мы работаем больше десяти лет и поэтому разбираемся во всех трудностях этого процесса. У нас работают опытные сотрудники и мы всегда выполняем поставленные задачи вовремя.</p>

<p style="text-indent:20px">Вывоз строительного мусора, бытовых отходов, грунта,
демонтаж строений, ликвидация свалок, уборка и вывоз снега,

контейнеры (бункеры) от 0,8 до 27 м.куб</p>
<!--Закрываем ячейку-->
</td>

<!--САЙДБАР-->

<!--Создаём ячейку сайдбара-->

</tr>
<!--Создаём строку с дополнительной информацией-->
<tr>
<!--Ячейка с дополнительной информацией-->
<td
bgcolor="#76b852"
align="center">
<h3>Общая информация</h3>
<p>Контактный телефон: +7-861-111-11-11</p>
<!--Закрываем ячейку с общей информацией
и таблицу основного контента-->
</td>
</tr>
</table>

<!--ПОДВАЛ-->

<!--Создаём таблицу подвала-->
<table
border="1"
bgcolor="#76b852"
height="100"
cellpadding="10"
style="width:100%; border-radius:5px;">
<!--Создаём строку.-->
<tr>
<!--Создаём столбец-->
<th>
<h3>Реквизиты</h3>
<p>Полное наименование предприятия: 	Государственное унитарное предприятие «Нерезиновая»</p>

<p>Сокращенное наименование 	ГУП «Нерезиновая»</p>
<p>Сведения о государственной регистрации 	Дата государственной регистрации: 19.07.2013 г.</p>
<p>Номер свидетельства о государственной регистрации (иного документа, подтверждающего государственную регистрацию): 0-4356405, ф/к 024545602</p>
<!--Закрываем таблицу подвала. При желании в подвале можно
сделать несколько строк и столбцов-->
</th>

</tr>

</table>
<!--Закрываем таблицу контейнера-->
</td>

</tr>
</table>
</body>
</html>