{% extends 'users/profile.html' %}
{% block title %} Страница менеджера {% endblock %}
{% block image %} https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuWkeJjjMe5DjkYbYHrusZ4gY1Eox-fIVknnIBDV-C1LsHbCUJv1puoA8abD1L4brFGAM&usqp=CAU {% endblock %}
{% block role %}Менеджер{% endblock %}
{% block button %} <button class="btn btn-sm btn-primary w-100 ml-2" onclick="location.href='{% url 'logout' %}?next=/profile/route'">Добавить маршрут</button> {% endblock %}
{% block button1 %}
<button class="btn btn-sm btn-primary w-100 ml-2" onclick="location.href='{% url 'logout' %}?next=/profile/task'">Создать задание</button>
{% endblock %}