{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div style="display: flex;">
    <aside class="left" style="flex: 0;">
        <div class="container mt-5 d-flex justify-content-center">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="image">
                            <img src= "{% block image %}{% endblock %}" class="rounded" width="155" >
                    </div>
                    <div class="ml-3 w-100">
                        <div class="username"><h4 class="mb-0 mt-0">{{ user.username }}</h4><br></div>
                        <div class="d-flex flex-column">
                            <span class="role">{% block role %}{% endblock %}</span>
                       </div>
                    </div>
                    </div>
                </div>
             </div>
        <div class="button mt-2 d-flex flex-row align-items-center" id="button_click">
            <ul>
                <li>{% block button %}{% endblock %}</li>
                <li>{% block button1 %}{% endblock %}</li>
                <li>{% block button2 %}{% endblock %}</li>
                <li>{% block button3 %}{% endblock %}</li>
                <li><button class="btn btn-sm btn-primary w-100 ml-2" onclick="location.href='{% url 'logout' %}?next=/profile'">Выйти</button></li>
                <li><button class="btn btn-sm btn-primary w-100 ml-2" onclick="location.href='{% url 'password_change' %}'">Сменить пароль</button></li>
            </ul>
        </div>
    </aside>
    <main class="mymap" style="flex: 1;">
            <div class="ymap">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A493c724964bb898c20efe7f2d6b5d67c611f020b68553e9b881f4ddede7a4dd6&amp;width=928&amp;height=641&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
    </main>
    </div>
    </body>
</html>
